<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="ZEBRA\SQLEXPRESS;Initial Catalog=GPSTracker;user id=GPSTracker; password=GPSTracker@123" />
    <add name="GPSTrackerEntities1" connectionString="metadata=res://*/TrackerDataStorage.csdl|res://*/TrackerDataStorage.ssdl|res://*/TrackerDataStorage.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZEBRA\SQLEXPRESS;Initial Catalog=GPSTracker;user id=GPSTracker; password=GPSTracker@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Interval" value="2000"/>
    <add key="AlertServiceInterval" value="5000"/>
    <add key ="MigrationInterval" value="60000"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.net>
    <mailSettings>
      <smtp from="vinay.r@mishainfotech.com" deliveryMethod="Network">
      <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false"  userName="vinay.r@mishainfotech.com" password="v@misha@123" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>